.world
{
	position:absolute;
    top: calc(50% - 0px);
    left: calc(50% - 5px);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.world-container
{
	width: 100%;
	height: 100%;
}
html,body 
{
    position:relative;
	overflow:hidden;
    height: 100%;
    font-size: 30px;
}
.left-sea 
{
	position: absolute;
	font-family: courier;
	height: 100%;
}

.water {
	color: #DDD;
}

.loc-marker{
	color: white;
}
.right-sea
{
	position: absolute;
	font-family: courier;
	height: 100%;
}

.words, .title
{
    color: black;
    font-weight: bold;
}

.land
{
    color: red;
}

@media only screen and (max-width: 1000px) and (orientation: portrait) {
    body{
        font-size: 40px;    
    }
    
    .world {
        left: calc(50% - 12px);
        top: calc(50% + 6px);
    }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    body{
        font-size: 25px;    
    }
}